body{
  margin: 0;
  color: #60606e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
body *{
  box-sizing: border-box;
}
.wrapper{
   width: 1300px;
   background: url(../images/header.jpg) no-repeat 0 0;
   margin: 0 auto;
   padding: 0 60px;
}
a{
  color: #60606e;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
img{
  width: auto;
  max-width: 100%;
 }
h1, h2, h3{
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
}
h1{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}
h2{
  font-size: 30px;
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;
}
h2:before{
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 21px;
  background-color: #7beec7;
  left: 0;
  bottom: 0;
  z-index: -1;
}
h3{
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 10x;
}
h4{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0;
}

footer .wrapper{
  background: none;
}
.row{
  overflow: hidden;
}
.cell{
  float: left;
  padding: 0 15px;
}
.no-float{
  float: none;
}
.cell.size-100{
  float: none;
  display: block;
}

.cell.size-50 {
  width: 50%;
}
.cell.size-66{
  width: 66.6%;
}
.cell.size-33{
  width: 33.3%;
  overflow: hidden;
}
.cell.size-25{
  width: 25%;
}
.cell.size-20{
  width: 20%;
}
.cell.size-16{
  width: 16.6%;
}
.cell.size-8{
  width: 8.3%;
}
.text-right{
  text-align: right;
}
.text-center {
  text-align: center;
}
header a.logo{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

}
header .cell {
  line-height: 100px;
}

.sub-header{
  padding: 150px 0 166px 0;
}
.breadcrumbs *{
  font-family: 'Montserrat', Arial, sans-serif ;
  font-weight: 700;
text-transform: uppercase;
}
section{
  padding-top: 140px;
}
p{
  line-height: 30px;
}
.center-article{
  margin: 0 auto;
  padding-bottom: 90px;
}
.center-article h2{
  display: inline-block;
}
.center-article p{
  line-height: 24px;
}
.top-indent{
  padding-top: 18px;
}

.bottom-indent{
  padding-bottom: 18px;
}
footer{
  background-color: #7beec7 ;
  padding: 50px 0 ;
  min-width: 1300px;
  color: #FFFFFF;
}
img.float{
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}
form{
  width: 555px;
  padding: 20px;
  background-color: #FFFFFF;
  color: #60606e;
}
button{
  width: 165px;
  height: 50px;
  background-color: #FFFFFF;
  color: #7beec7 ;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif ;
  font-weight: bold;
}
.subscribe-input {
  box-sizing: border-box;
  border: 0.5px solid #9eabad;
  background-color: #fff;
  width: 70%;
  font-family: 'Montserrat', Arial, sans-serif ;
  font-size: 14px;
  text-transform: uppercase;
  height: 48px;
  padding-left: 15px;
  border-right: none;
}
.subscribe-button {
  float: right;
  margin-right: 25px;
  width: 25%;
  height: 48px;
  border: 1px  solid transparent;
  border-left: none;
  font-family: 'Montserrat', Arial, sans-serif ;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  background: #7beec7;
}

.hidden{
  overflow: hidden;
  width: 510px;
}
.hidden-2{
  overflow: hidden;
}